# ==========================
# Python
# ==========================
venv/
__pycache__/
*.pyc
.pytest_cache/

# ==========================
# Environment
# ==========================
.env

# ==========================
# macOS
# ==========================
.DS_Store

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# Jupyter
# ==========================
.ipynb_checkpoints/

# ==========================
# Models
# ==========================
models/

# ==========================
# Generated Data
# ==========================
data/scraped/
data/cleaned/
data/agriculture_only/
data/chunks/
data/embeddings/

# ==========================
# FAISS / Embeddings
# ==========================
*.index
*.npy

# ==========================
# Logs
# ==========================
*.log
# Generated training datasets
data/training/